<%= form_for [@user, @gossip, @comment] do |f| %>
<%# form_for @comment, url: {action: "create"} do |f| %>
<div class="form-group">
    <%= f.text_area :content, placeholder: 'Ton vilain commentaire', class: "form-control" %>
</div>
<div class="form-group">
    <button class="btn btn-outline-dark" type="submit">Commenter</button>
</div>
<% end %>
