<h1>Bienvenue
    <%= @user.name %>
</h1>
<div class="center jumbotron">
<div class="button_gossip">
<%= link_to "GOSSIPS", "gossips", class: "btn btn-secondary btn-lg" %>
</div>
    <%= link_to "Reviens à l'accueil", '/', class: "btn btn-lg btn-primary" %>
</div>