<%= form_for ([@gossip, @gossip.comments.build]) do |f| %>
<div class="form-group">
    <%= f.text_field :anonymous_commentor, placeholder: 'Ton pseudo "anonyme"', class: "form-control" %>
</div>
<div class="form-group">
    <%= f.text_area :content, placeholder: 'Ton vilain commentaire', class: "form-control" %>
</div>
<div class="form-group">
    <button class="btn btn-outline-dark" type="submit">Commenter</button>
</div>
<% end %>